/* Impostare lo sfondo di colore rosso agli elementi con classe main */
.main {
    background-color: rgb(255, 0, 0);
}

/* Impostare il colore del testo di colore verde agli elementi con classe secondary */
.secondary {
    color: rgb(0, 255, 0);
}